
header img{
    height: 130px;
    width: 130px;
    margin-top: 20px;
    border-radius: 100%;
    border: 4px solid white;
}    
header section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header h1{
    margin: 0px;
    margin-top: 20px;

}
header ul{
    margin: 0px;
}

header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    color: black;
}

.acor{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 5px solid white;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: 0.25s;

}

.acor .tri{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
}
.acor .tri::after{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icon/arrow.svg);
    transition: .25s;

}
.acor.open .tri::after{
    transform: rotate(180deg);
}
.acor.open{
    background-color: rgb(43, 168, 226);
    border-color: rgb(43, 168, 226);

}
.acor.open .cont{
    display: inline-block;

}

.acor:hover{ 
    background-color: rgb(43, 168, 226);
    border-color: rgb(43, 168, 226);
}
.cont{
    display: none;
}

body{
    border: 5px solid white;
    border-radius: 20px;
    background-color: black;
    background-image: linear-gradient(to right, black, rgb(98, 107, 111));
    font-family: 'Open-sans', sans-serif;
    color: white;
    padding: 20px;

}

.habilidades{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.linguagens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    width: 100px;
}
.linguagens li{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 2rem;
    height: 2rem;
}
.python{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icon/file-type-python.svg);
    transition: .25s; 
}

.java{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icon/java-original-wordmark.svg);
    transition: .25s;
}
.js{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icon/javascript.svg);
    transition: .25s;
}
.c{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icon/c-original.svg);
    transition: .25s;
}
.html{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icon/html-5.svg);
    transition: .25s;
}
.css{

    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icon/css3-original-wordmark.svg);
    transition: .25s;
}
.godot{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icon/godot.svg);
    transition: .25s; 
}
.wordp{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icon/wordp.svg);
    transition: .25s; 
}
.pess{
    display: grid;
    grid-template-columns: 1fr;
}
.pess li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.git a{
    text-decoration: none;
    color: white;
}
.git a:hover{
    text-decoration: none;
    color: black;
}
.git::before{
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../icon/github.svg);
    transition: .25s;
}

.cert a{
    text-decoration: none;
    color: white;
}
.cert a:hover{
    text-decoration: none;
    color: black;
}
@media only screen and (min-width: 768px){
    header section{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
    }
    
    header img{
        margin: 20px auto;
        width: 250px;
        height: 250px;

    }
    .linguagens li{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 4rem;
        height: 4rem;
    }
    .linguagens{
        width: 230px;
    }

    .pess{
        grid-template-columns: 1fr 1fr;
    }
}
